.main-menu .main-menu-content {
    margin-top: 35px;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 100%;
}

.card {
    --bs-card-bg: #fff;
}

.required{
    color: #ea5455;
}

.pointer{
    cursor: pointer;
}

