.main-menu .main-menu-content {
    margin-top: 35px;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 100%;
}

.card {
    --bs-card-bg: #fff;
}

.required{
    color: #ea5455;
}

.pointer{
    cursor: pointer;
}

[dir] .modal-content {
    background-color: #fff;
}

.list-group{
    --bs-list-group-bg: #fff;
}

.icon-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
.start-btn {
    display: inline-block;
    background-color: #fff;
    color: #333;
    font-weight: 500;
    border-radius: 999px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.mr-2em {
    margin-right: 1rem;
}

.select__menu {
    z-index: 9999 !important;
}

.app-calendar .app-calendar-sidebar {
    background-color: #fff !important;
}

.icon-circle::before {
    content: none !important;
}


