@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen.bg-gradient-to-br.from-slate-50.to-blue-50 {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:pl-64 {
        padding-left: 0rem;
        width: 100%;
    }
}